<?php

define("DB_PATH","crashlogs.db");
define("DB_SECRET","Rr2u!0Q2Sugj");
define("ADMIN_PASSWORD","4I4!2z9g^1y^");

class LogDB extends SQLite3
{
    function __construct()
    {
        $this->open(realpath(dirname(__FILE__)).'/'.DB_PATH);
    }
}

?>
